# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\etec\ds-2021\aula0403_exercicio02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
